{#
/**
 * @file
 * Template file for the insert button.
 */
#}
{% if insert.settings.rotate %}
  <div class="insert-rotate">
    <label>{{ 'Rotate'|trans }}</label>
    <span class="insert-rotate-controls">
      <span class="insert-rotate-controls-left"><a href="{{ url('insert.rotate', {'fid': insert.settings.fid, 'degree': 270, 'nid': nid}) }}" role="button">↺</a></span>
      <span class="insert-rotate-controls-right"><a href="{{ url('insert.rotate', {'fid': insert.settings.fid, 'degree': 90, 'nid': nid}) }}" role="button">↻</a></span>
    </span>
  </div>
{% endif %}

{% if insert.styles|length > 1 %}
    <div class="insert-style-select">
      <label for="insert-{{ id }}">{{ 'Style'|trans }}</label>
      <select id="insert-{{ id }}" class="insert-style">
        {% for value, style in insert.styles %}
          <option value="{{ value }}"{% if value == insert.default_style %}{{ 'selected="selected"' }}{% endif %}>{{ style }}</option>
        {% endfor %}
      </select>
    </div>
{% else %}
  <input type="hidden" class="insert-style" value="{{ insert.default_style }}" />
{% endif %}

<span class="insert-button-wrapper"><button class="button js-form-submit form-submit insert-button" data-insert-id="{{ insert.id }}">{{ 'Insert'|trans }}</button></span>